<p id="notice"><%= notice %></p>

<p>
  <strong>Lat:</strong>
  <%= @forecast.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @forecast.lng %>
</p>
The weather is <%= @current_weather.summary %> and <%= @current_weather.temperature %>

<% @daily_weather.each do |day| %>        
  <%= day.summary %><br>
  <%= Time.at(day.time).strftime('%A') %>
    High: <%= day.apparentTemperatureMax %> | Low: <%= day.apparentTemperatureMin %>
<% end %>

<br>

<%= link_to 'Edit', edit_forecast_path(@forecast) %> |
<%= link_to 'Back', forecasts_path %>
